<mat-card *ngFor="let f of food">
  <mat-card-header>
    <mat-card-title>{{ f.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <div>
      <img matCardImage src="assets/images/falaffel.jpg" />
    </div>
    <div class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
      blanditiis qui maiores minus ullam assumenda rerum ipsum dicta, iste odio
      suscipit unde inventore dolores veniam a repellendus atque odit nam?
      Adipisci quo aliquid voluptas, rerum vitae voluptates sequi, assumenda
      voluptate fuga quis omnis! Fuga, laborum consectetur aut minus id
      accusamus maiores repellat eligendi doloribus inventore illum quos iure
      dignissimos iste.
    </div>
  </mat-card-content>
  <mat-card-actions align="start">
    <!-- <button mat-button (click)="onAction1">Action1</button> -->
  </mat-card-actions>
</mat-card>
