.container{
    width: 120px;
    display: flex
}

mat-icon{
    cursor: pointer;
}

.mat-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    fill: currentColor;
    height: 36px;
    width: 36px;
    overflow: hidden;
}

.quantity{
    font-size: 34px;
}